
div.content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin-top: 175px;
    margin-bottom: 12px;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px black;
}

.googleButton {
    width: 100px;
    height: 45px;
    font-size: 20px;
    background-color:  #19191a   ;
    border: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color .8s;
}

.googleButton:hover {
    background-color: white;
    color: black;
}

.logoDoGoogle {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

div.data {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.data img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

div.data h2 {
    margin-top: 5px;
    text-shadow: 1px 1px 1px black;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
}

div.data p {
    margin-top: 5px;
    text-shadow: 1px 1px 1px black;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
}
